// override bootstrap variables
$font-size-base: 12px !default;
// $icon-font-path: "../fonts/bootstrap/" !default;

// My variables

$accent: #ff3c2e;
$text-gray: #BFBFBF;
$dark-text-gray: #767676;
$darker-text-gray: #525252;
$lighter-text-gray: lighten(#000000, 32%);

$sidebar-bg: #363636;
$header-bg: #f9f9f9;
$light-utility-gray: #e5e5e5;
$stock-bg: #f7f7f7;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

$font-family-sans-serif:  'Raleway', Helvetica, Arial, sans-serif;


@import "../../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-custom";

// Start here!

/* General styles */

body {
	background-color: $darker-text-gray;
}

// Set medium weight as the base
* {
	font-weight: 500;
}

section h3 {
	font-size: 1.5em;
}

.additional-btn {
	text-align: right;

	.btn {
		background:none;
		padding: 10px;
		border: none;
		font-size: 14px;
		text-transform: uppercase;

		&:active {
			background-color: rgba(0,0,0,0.2)
		}
	}
}

// some mixins

// Base style for checklists

@mixin label-shadow {
	box-shadow: 1px 1px 2px rgba(0,0,0,0.15);
}

@mixin checklist {

				&-item {
					position: relative;
					margin-left: 40px;
					cursor: pointer;
					padding: 6px 0;
					background: none;
					font-weight: 400;
					color: darken(#FFFFFF, 8);
					border: 0;
					border: {
						bottom: 1px solid rgba(244,244,244,0.25);
						radius: 0;
					}

					&:last-child {
					border-bottom: 0;
					}
				}

				input[type="checkbox"] {
					&:not(:checked), &:checked {
						position: absolute;
						left: -9999px;
					}

					

					&:not(:checked) + label, &:checked + label {
						position: relative;
						margin-left: 40px;
						cursor: pointer;
					}

					& + label:before, & + label:after {
						font-family: 'Material Icons';
						font-size: 18px;
						position: absolute;
						left: -32px;
						top: 3px;
					}

					&:not(:checked) + label:before {
						content: '\e835';
					}

					&:checked + label {
						text-decoration: line-through;
					}

					&:checked + label:after {
						content: '\e834';
						color: $accent;
					}

					&:disabled:not(:checked) + label:before,
					&:disabled:checked + label:after {
						opacity: .5;
						color: darken(#FFFFFF, 8);
					}

					&:not(:checked):focus + label,
					&:checked:focus + label {
						text-decoration: underline;
					}

				}
			}


// Sidebar Styles

.sidebar {

	$sidebar-txt: $text-gray;

	// size of the sidebbar at various breakpoints
	@include make-xs-column(12);
	@include make-sm-column(4);
	@include make-md-column(3);
	@include make-lg-column(2);

	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0;
	z-index: 10;
	background-color: $sidebar-bg;
	color: $sidebar-txt;
	box-shadow: 2px 0 5px rgba(0,0,0,0.25);

	> .close {
		display: block;
		position: absolute;
		right: 5%;
		top: 15px;

		a {
			color: $text-gray;
		}

		@media (min-width: $screen-sm-max) {
			display: none;
		}
	}


	// mobile screen hidden
	@media (max-width: $screen-sm-max) {
		transform: translateX(-100%);
		transition: all 200ms cubic-bezier(0.65, 0.05, 0.36, 1);
		box-shadow: none;

		&.active {
			transform: translateX(0);
		}
	}


}

.profile {

	position: relative;
	padding: 32px 6.85%;
	height:132px;
	border-bottom: 1px solid $darker-text-gray;

	.welcome {
		span:first-child {
			color: $dark-text-gray;
			display: block;
			margin-bottom: 0.75em;
		}
		&-name {
			font-size: 18px; 
		}
		
	}

	> * {
		float: left;
	}

	img {
		margin-right: 10.27%;
	}

	.icon {
		position: absolute;
		top: calc(50% - 24px / 2);
		right: 10.27%;
		color: $darker-text-gray;
		font: {
			// size:12px
		}
	}

}

.sidebar-nav {

	@media (max-width: $screen-xs-max) {
		overflow-y: scroll;
		height: calc(100% - 60px);

		.nav-stacked {
			height: calc(100% - 132px);
			overflow-y: scroll;
		}
	}
	
}

// Appeareance of buttons in sidebar navigation and bottom buttons
.sidebar-nav, .sidebar-ctrls {
	.nav-item {
		a {
			padding: 18px 9.24%;
			color: $text-gray;
			font-size: 14px;

			&:hover, &:focus {
				background-color: #292929;
				border-radius: 0;
				color: $darker-text-gray;
			}
		}

		.material-icons {
			vertical-align: middle;
			margin-right: 10%;
			color: $darker-text-gray;
		}
	}

	li.active {
		a, a:hover, a:focus {
			background-color: #292929;
			border-radius: 0;
			border-left: solid 8px $accent;
			color: $darker-text-gray;
		}
	}

	a {
		&::after {
			content: "\e315";
			font-family: 'Material Icons';
			position: absolute;
			right: 5%;
			margin-top: -5px;
			font-size: 24px;
			color: $darker-text-gray;
		}
	}
	
}

// Bottom buttons (logoout)
.sidebar-ctrls {
	position: absolute;
	bottom: 0;
	width: 100%;
	background-color: $sidebar-bg;

	border-top: 1px solid $darker-text-gray;

	a::after {
		content: "";
	}
}

// Main Content

.content {
	@include make-sm-column(12);
	@include make-md-column(9);
	@include make-md-column-offset(3);
	@include make-lg-column(10);
	@include make-lg-column-offset(2);

	// Header

	header {
		@include make-row;

		background-color: $header-bg;

		.mobile-menu-btn {
			@media (min-width: $screen-xs-max){
				display: none;
			}
			
			position: absolute;
			left: 6%;
			top: 10px;
			a {
				color: $darker-text-gray;
			}
		}

		.logo-location {
			@include make-sm-column(6);
			padding-top: 5px;

			.logo	{
				height: 18px;
			}

		}

		.header-ctrls {
			@include make-sm-column(6);

			a {
				color: #9c9c9c;
			}

			.search {
				@include make-sm-column(6);
				@include make-sm-column-offset(3);

				color: #9c9c9c;

				.form-group	{
					margin: {
						top: 3px; bottom: 3px;
					}
				}

				.form-control {
					height: 28px;
				}

				.material-icons {
					position: absolute;
					padding: {
						top: 3px;
						left: 5px;
					}
					pointer-events: none;
				}

				input[type="search"] {
					border: 0;
					background-color: $light-utility-gray;
					box-shadow: none;
					padding-left: calc(2em + 5px);
				}

			}

			.btn-group {
				right: 3%;
				position: absolute;

				.btn {
					padding: {
						left: 3px;
						top: 3px;
						bottom: 0;
					}
				}
			}
		}

		@media (max-width: $screen-sm-max) {

			padding-bottom: 10px;


			.logo-location {
				text-align: center;
				padding: {
					bottom: 10px;
				}
				.logo {
					margin-top: 8px;
				}
			}

			.header-ctrls {
				//@include make-xs-column(12);

				.search {
					@include make-xs-column(10);
				}

				.btn-group {
					padding-right: 15px;
					.btn {
						padding: 1px;
					}
				}
			}
		}

	}
}

// Info at the top below the header

.top-info {
	@include make-row;
	background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)), url('http://www.lorempizza.com/1200/400') no-repeat;
	background-size: cover;
}

// Current order info

.current {
	@include make-sm-column(6);

	padding-top: 20px;
	color: #FFFFFF;
	font-size: 14px;
	height: 260px;

	&-date {
		span {
			display: block;
			font-size: 2em;
		}
	}

	&-order {
		position: absolute;
		bottom: 0;

		.label {
			font-size: 14px;
			background-color: $accent;
			@include label-shadow;
		}
	}

	h1 {
		font-size: 36px;
		margin-top: 12px;
	}
}

// To-dos at the right of order info

.todos {
	@include make-sm-column(6);
	padding-top: 15px;

	color: #FFFFFF;

	.panel {
		@include make-sm-column(6);
		@include make-sm-column-offset(3);

		background-color: rgba(255,255,255,0.35);
		border: none;
		border-radius: 10px;

		&-heading {
			text-align: center;
			color: #FFFFFF;
			background: none;
			border: 0;
		}

		&-title {
			font-size: 25px;

			.badge {
				background-color: $accent;
				vertical-align: middle;
				font-family: sans-serif;
				color: #FFFFFF;
				@include label-shadow;
			}
		}

		&-body {

			padding:0;


			.list-group {
				@include checklist;

				margin: {
					left: -15px;
					right: -15px;
					bottom: 0;
				}

				padding: {
					left: 15px;
					right: 15px;
				}

				border-bottom: 1px solid rgba(244,244,244,0.25);
			}
		}
	}
}

// information that belongs to the middle of the page

.mid-info {
	@include make-row;
}

// Stock information and list

.stock {
	@include make-sm-column(6);

	background-color: $stock-bg;
	color: #717171;

	hgroup {
		@include make-row;

		h3 { @include make-xs-column(12); }
	}

	.list-group {
		@include make-row;

		position: relative;
		padding-bottom: 5px;
		margin-bottom: 0;
		border-bottom: 1px solid #cfcfcf;


		@include checklist;

		// Modify checklist styles
		.list-group-item {
			background: none;
			border: none;
			border-bottom: 1px solid #cfcfcf;
			color: #717171;

			&:last-child {
				border-color: transparent;
			}
		}

		input[type="checkbox"] {
					&:not(:checked), &:checked {
						position: absolute;
						left: -9999px;
					}

					

					&:not(:checked) + label, &:checked + label {
						position: relative;
						margin-left: 40px;
						cursor: pointer;
					}

					& + label:before, & + label:after {
						font-family: 'Material Icons';
						font-size: 18px;
						position: absolute;
						left: -32px;
						top: 3px;
						color: #cfcfcf;
					}
				}
	}

	&-col {
		@include make-sm-column(4);

		&:last-child {
			position: absolute;
			right: 0;
			bottom: 0;
			padding-bottom: 10px;
		}
	}

	&-total {
		text-align: right;
		span {
			font-size: 14px;
			font-weight: 600;
			color: $accent;
		}
	}

	.additional-btn {
		@include clearfix;
		.btn {
			color: $dark-text-gray;
		}
	}

	// Mobile breakpoints

	@media (max-width: $screen-sm-max) {

		.list-group .list-group-item:last-child {
		border-color: #cfcfcf;
		}

		.stock-col {
			@include make-xs-column(12);
		}

		.stock-total {
			padding-top: 10px;
		}

		.additional-btn {
			@include clearfix;
		}
	}
}

// Markets information with map in red overlay

.markets {
	@include make-sm-column(6);
	background-color: $accent;
	color: #fff;
	position: relative;

	h3 {
		position: absolute;
		top: 0;
	}

	.map-responsive {
		overflow: hidden;
		padding-bottom: 166px;
		position: relative;
		// height: 0;
		margin: {
			left: -15px;
			right: -15px;
		}
		-webkit-filter: grayscale(1);
		filter: grayscale(1);
		opacity: 0.4;
		border-bottom: 1px solid #fff;
	}

	.map-responsive iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}

	.additional-btn {
		float: none;
		text-align: right;
	}

	@media (max-width: $screen-xs-max) {
		.map-responsive {
			padding-bottom: 50vh;
		}
	}
}

.bottom-info {
@include make-row;
}

.staff {
	@include make-sm-column(12);

	background-color: $darker-text-gray;
	color: #bfbfbf;

	hgroup {
		margin-top: 17px;
    	margin-bottom: 15px;

    	h3 { 
    		display: inline;
    	}

    	.btn {
    		background-color: $accent;
    		color: #fff;
    		margin-left: 1em;
    		font-size: 12px;
    		@include label-shadow;

    		.icon {
    			float: left;
    			font-size: 16px;
    		}
    	}
	}

	&-list {
	@include make-row;

	border-bottom: 1px solid #656565;
	}

	&-people {
		@include make-sm-column(6);

		margin-bottom: 0;

		.list-group-item {
			@include make-xs-column(12);

			font-size: 14px;
			background: none;
			border: none;
			padding: 6px 0;

			&:last-child .txt-info {
				border-color: transparent;
			}
		}

		.staff-picture {
			width: 10%;
			float: left;

			img {
				width: 45px;
			}
		}

		.txt-info {
			//@include make-row;
			width: 82%;
			float: right;
			border-bottom: 1px solid #656565;
			padding-bottom: 16px;
		}

		.staff-name {
			@include make-sm-column(6);
			padding-left: 0;
			span {
				display: block;
				font-size: 12px;
				font-weight: 400;
			}
		}

		.staff-schedule {
			@include make-sm-column(6);

			margin-top: 1em;
			text-align: right;
		}
	}
}

.bottom-info {
	@media (max-width: $screen-sm-max) {
		padding-top: 10px;

		.staff-people {
			&:first-child {
				.list-group-item:last-child .txt-info {
					border-color: #656565;
				}
			}
		}

		.staff-schedule {
			margin-top: 0;
		}
	}
}





