// override bootstrap variables
$font-size-base: 16px !default;
$icon-font-path: "../fonts/bootstrap/" !default;

// My variables

$accent: #ff3c2e;
$text-gray: #BFBFBF;
$dark-text-gray: #767676;
$darker-text-gray: #525252;
$lighter-text-gray: lighten(#000000, 32%);

$header-bg: #f9f9f9;

@import url(https://fonts.googleapis.com/css?family=Raleway:500,600);

$font-family-sans-serif:  'Raleway', Helvetica, Arial, sans-serif;


@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-custom";

// Start here!

// General styles

.additional-btn {
	float: right;
}


// Sidebar Styles

.sidebar {

	$sidebar-bg: #363636;
	$sidebar-txt: $text-gray;

	@include make-sm-column(2);

	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0;
	background-color: $sidebar-bg;
	color: $sidebar-txt;
	box-shadow: 2px 0 5px rgba(0,0,0,0.25);


}

.profile {

	position: relative;
	padding: 32px 6.85%;
	height:132px;
	border-bottom: 1px solid $darker-text-gray;

	.welcome {
		span {
			color: $dark-text-gray;
		}
		h3 {
			margin-top: 0.5em;
		}
	}

	> * {
		float: left;
	}

	img {
		margin-right: 10.27%;
	}

	.glyphicon {
		position: absolute;
		top: 50%;
		right: 10.27%;
		color: $darker-text-gray;
		font: {
			size:12px
		}
	}

}

@mixin sidebar-items {
	.nav-item {
		a {
			padding: 20px 9.24%;
			color: $text-gray;
			font-size: 18px;

			&:hover, &:focus {
				background-color: #292929;
				border-radius: 0;
				color: $darker-text-gray;
			}
		}

		.icon {
			margin-right: 10.27%;
			color: $darker-text-gray;
		}
	}
}

.sidebar-nav {
	@include sidebar-items;

	li.active {
		a, a:hover, a:focus {
			background-color: #292929;
			border-radius: 0;
			border-left: solid 8px $accent;
			color: $darker-text-gray;
		}
	}

	a {
		&::after {
			content: "\e080";
			font-family: 'Glyphicons Halflings';
			position: absolute;
			right: 10.27%;
			font-size: 0.8em;
			color: $darker-text-gray;
		}
	}
	
}

.sidebar-ctrls {
	@include sidebar-items;

	position: absolute;
	bottom: 0;
	width: 100%;

	border-top: 1px solid $darker-text-gray;
}

// Main Content

.content {
	@include make-sm-column(10);
	@include make-sm-column-offset(2);

	// Header

	header {
		@include make-row;

		height: 50px;
		background-color: $header-bg;

		.logo {
			@include make-sm-column(6);

		}

		.header-ctrls {
			@include make-sm-column(6);

			.search {
				@include make-sm-column(6);
				@include make-sm-column-offset(3);

			}

			.btn-group {
				right: 3%;
				position: absolute;
			}
		}
	}
}

// Info at the top below the header

.top-info {
	@include make-row;
	background-color: lightgray;
}

// Current order info

.current {
	@include make-sm-column(6);

	&-date {
		span {
			display: block;
			font-size: 24px;
		}
	}

	&-order {
		.label {
			font-size: 16px;
		}
	}
}

// To-dos at the right of order info

.todos {
	@include make-sm-column(6);

	.panel {
		@include make-sm-column(6);
		@include make-sm-column-offset(3);
	}
}

// information that belongs to the middle of the page

.mid-info {
	@include make-row;
}

// Stock information and list

.stock {
	@include make-sm-column(6);

	.form-group {
		@include make-row;
	}

	&-col {
		@include make-sm-column(4);
	}
}

// Markets information with map in red overlay

.markets {
	@include make-sm-column(6);

	.map-responsive {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
	}

	.map-responsive iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}

.bottom-info {
@include make-row;
}

.staff {
	@include make-sm-column(12);

	hgroup {
		
	}

	&-list {
	@include make-row;
	}

	&-people {
		@include make-sm-column(6);
	}
}





