// override bootstrap variables
$font-size-base: 12px !default;
$icon-font-path: "../fonts/bootstrap/" !default;

// My variables

$accent: #ff3c2e;
$text-gray: #BFBFBF;
$dark-text-gray: #767676;
$darker-text-gray: #525252;
$lighter-text-gray: lighten(#000000, 32%);

$header-bg: #f9f9f9;
$light-utility-gray: #e5e5e5;

@import url(https://fonts.googleapis.com/css?family=Raleway:400,500,600);

$font-family-sans-serif:  'Raleway', Helvetica, Arial, sans-serif;


@import "../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap-custom";

// Start here!

// General styles

// Set medium weight as the base
* {
	font-weight: 500;
}

h3 {
	font-size: 1.5em;
}

.additional-btn {
	float: right;

	.btn {
		background:none;
		padding: 15px;
		border: none;
		font-size: 14px;
		text-transform: uppercase;

		&:active {
			background-color: rgba(0,0,0,0.2)
		}
	}
}

// some mixins

// Base style for checklists

@mixin checklist {

				&-item {
					position: relative;
					margin-left: 40px;
					cursor: pointer;
					padding: 7px 0;
					background: none;
					font-weight: 400;
					color: darken(#FFFFFF, 8);
					border: 0;
					border: {
						bottom: 1px solid rgba(244,244,244,0.25);
						radius: 0;
					}

					&:last-child {
					border-bottom: 0;
					}
				}

				input[type="checkbox"] {
					&:not(:checked), &:checked {
						position: absolute;
						left: -9999px;
					}

					

					&:not(:checked) + label, &:checked + label {
						position: relative;
						margin-left: 40px;
						cursor: pointer;
					}

					& + label:before, & + label:after {
						font-family: 'Material Icons';
						font-size: 18px;
						position: absolute;
						left: -32px;
						top: 3px;
					}

					&:not(:checked) + label:before {
						content: '\e835';
					}

					&:checked + label {
						text-decoration: line-through;
					}

					&:checked + label:after {
						content: '\e834';
						color: $accent;
					}

					&:disabled:not(:checked) + label:before,
					&:disabled:checked + label:after {
						opacity: .5;
						color: darken(#FFFFFF, 8);
					}

					&:checked:focus + label:before,
					&:not(:checked):focus + label:before {
						text-shadow: 1px 1px 1px #000;
					}
				}
			}


// Sidebar Styles

.sidebar {

	$sidebar-bg: #363636;
	$sidebar-txt: $text-gray;

	@include make-sm-column(2);

	height: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	padding: 0;
	background-color: $sidebar-bg;
	color: $sidebar-txt;
	box-shadow: 2px 0 5px rgba(0,0,0,0.25);


}

.profile {

	position: relative;
	padding: 32px 6.85%;
	height:132px;
	border-bottom: 1px solid $darker-text-gray;

	.welcome {
		span:first-child {
			color: $dark-text-gray;
			display: block;
			margin-bottom: 0.75em;
		}
		&-name {
			font-size: 18px; 
		}
		
	}

	> * {
		float: left;
	}

	img {
		margin-right: 10.27%;
	}

	.glyphicon {
		position: absolute;
		top: 50%;
		right: 10.27%;
		color: $darker-text-gray;
		font: {
			size:12px
		}
	}

}

.sidebar-nav, .sidebar-ctrls {
	.nav-item {
		a {
			padding: 18px 9.24%;
			color: $text-gray;
			font-size: 14px;

			&:hover, &:focus {
				background-color: #292929;
				border-radius: 0;
				color: $darker-text-gray;
			}
		}

		.material-icons {
			vertical-align: middle;
			margin-right: 10%;
			color: $darker-text-gray;
		}
	}

	li.active {
		a, a:hover, a:focus {
			background-color: #292929;
			border-radius: 0;
			border-left: solid 8px $accent;
			color: $darker-text-gray;
		}
	}

	a {
		&::after {
			content: "\e315";
			font-family: 'Material Icons';
			position: absolute;
			right: 5%;
			margin-top: -5px;
			font-size: 24px;
			color: $darker-text-gray;
		}
	}
	
}

.sidebar-ctrls {
	position: absolute;
	bottom: 0;
	width: 100%;

	border-top: 1px solid $darker-text-gray;
}

// Main Content

.content {
	@include make-sm-column(10);
	@include make-sm-column-offset(2);

	// Header

	header {
		@include make-row;

		// height: 5vh; // How will I handle this???
		background-color: $header-bg;

		.logo-location {
			@include make-sm-column(6);
			padding-top: 5px;

			.logo	{
				height: 18px;
			}

		}

		.header-ctrls {
			@include make-sm-column(6);

			a {
				color: #9c9c9c;
			}

			.search {
				@include make-sm-column(6);
				@include make-sm-column-offset(3);

				color: #9c9c9c;

				.form-group	{
					margin: {
						top: 3px; bottom: 3px;
					}
				}

				.form-control {
					height: 28px;
				}

				.material-icons {
					position: absolute;
					padding: {
						top: 3px;
						left: 5px;
					}
					pointer-events: none;
				}

				input[type="search"] {
					border: 0;
					background-color: $light-utility-gray;
					box-shadow: none;
					padding-left: calc(2em + 5px);
				}

			}

			.btn-group {
				right: 3%;
				position: absolute;

				.btn {
					padding: {
						left: 3px;
						top: 3px;
						bottom: 0;
					}
				}
			}
		}
	}
}

// Info at the top below the header

.top-info {
	@include make-row;
	background: linear-gradient(to top, rgba(0,0,0,0.8), rgba(0,0,0,0)), url('//www.lorempizza.com/1200/400') no-repeat;
}

// Current order info

.current {
	@include make-sm-column(6);

	padding-top: 20px;
	color: #FFFFFF;
	font-size: 14px;
	height: 280px;

	&-date {
		span {
			display: block;
			font-size: 2em;
		}
	}

	&-order {
		position: absolute;
		bottom: 0;

		.label {
			font-size: 14px;
			background-color: $accent;
		}
	}

	h1 {
		font-size: 36px;
		margin-top: 12px;
	}
}

// To-dos at the right of order info

.todos {
	@include make-sm-column(6);
	padding-top: 20px;

	color: #FFFFFF;

	.panel {
		@include make-sm-column(6);
		@include make-sm-column-offset(3);

		background-color: rgba(255,255,255,0.35);
		border: none;
		border-radius: 10px;

		&-heading {
			text-align: center;
			color: #FFFFFF;
			background: none;
			border: 0;
		}

		&-title {
			font-size: 25px;

			.badge {
				background-color: $accent;
				vertical-align: middle;
				font-family: sans-serif;
				color: #FFFFFF;
			}
		}

		&-body {

			padding:0;


			.list-group {
				@include checklist;

				margin: {
					left: -15px;
					right: -15px;
					bottom: 0;
				}

				padding: {
					left: 15px;
					right: 15px;
				}

				border-bottom: 1px solid rgba(244,244,244,0.25);
			}
		}
	}
}

// information that belongs to the middle of the page

.mid-info {
	@include make-row;
}

// Stock information and list

.stock {
	@include make-sm-column(6);

	.form-group {
		@include make-row;

		@include checklist;
	}

	&-col {
		@include make-sm-column(4);
	}
}

// Markets information with map in red overlay

.markets {
	@include make-sm-column(6);

	.map-responsive {
		overflow: hidden;
		padding-bottom: 56.25%;
		position: relative;
		height: 0;
	}

	.map-responsive iframe {
		left: 0;
		top: 0;
		height: 100%;
		width: 100%;
		position: absolute;
	}
}

.bottom-info {
@include make-row;
}

.staff {
	@include make-sm-column(12);

	hgroup {
		
	}

	&-list {
	@include make-row;
	}

	&-people {
		@include make-sm-column(6);
	}
}





